.gallery {
    width: 100%;
    height: 670px;
    background-color: #eeeeee; /*310x280*/
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
}

.gallery__item-gallery {
    border: 1px solid #c5c5c5;
    color: #717070;
}

.item-gallery__img {
    width: 100%;
    height: 185px;
}

.item-gallery__title {
    margin-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: "OpenSans-Bold";
    font-size: 14px;
}

.item-gallery__subtitle {
    margin-top: 5px;
    padding: 25px;
    padding-top: 0;
    font-family: "PTSans";
    font-size: 14px;
}