.service {
    width: 100%;
    height: 495px;
}

.service .container {
    flex-direction: column;
    justify-content: flex-start;
}

.service-text__header {
    margin-top: 50px;
    text-align: center;
    font-family: "OpenSans";
    font-size: 30px;
    letter-spacing: -0.8px;
    text-transform: uppercase;
    font-weight: 100;
    color: #646464;
}

.header__bold {
    font-family: "OpenSans-Bold";
}

.service-text__subtitle {
    margin-top: 15px;
    font-family: "OpenSans";
    font-size: 15px;
    text-align: center;
    letter-spacing: -0.8px;
    color: #9a9a9a;
}

.service__item-container {
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.item__img {
    width: 100%;
    height: 100px;
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.icon-imac {
    background-image: url("../../img/imac.png");
}

.icon-pen {
    background-image: url("../../img/pen.png");
}

.icon-photo {
    background-image: url("../../img/photo.png");
}

.item__item-title {
    margin-top: 12px;
    font-family: "OpenSans";
    font-size: 20px;
    text-align: center;
    color: #7b7b7b;
}

.item__item-title_bold {
    font-family: "OpenSans-Bold";
}

.item__item-subtitle {
    margin-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-family: "PTSans";
    font-size: 14px;
    color: #7b7b7b;
}