.sponsors {
    width: 100%;
}

.sponsors .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

.sponsors__link {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.sponsors__img {
    max-width: 100%;
    max-height: 100%;
}