@import url(./font.css);
@import url(./blocks/header.css);
@import url(./blocks/navbar.css);
@import url(./blocks/slider.css);
@import url(./blocks/service.css);
@import url(./blocks/gallery.css);
@import url(./blocks/sponsors.css);
@import url(./blocks/about-us.css);
@import url(./blocks/footer.css);
@import url(./media.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
