/* X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .header__logo {
        font-size: 20px;
    }

    .header__social {
        gap: 10px;
    }

    .navbar__menu-btn {
        display: block;
    }

    .navbar__menu-btn:hover ~ .navbar__menu {
        top: 64px;
        display: block;
        position: absolute;
    }

    .navbar__menu:hover {
        top: 64px;
        display: block;
        position: absolute;
    }

    .menu__item {
        border: 1px solid #efefef;
    }

    .navbar__menu {
        display: none;
    }
    
    .menu__link {
        line-height: 30px;
    }

    .navbar__container-input {
        width: 70%;
    }

    .navbar__search-form {
        width: 100%;
    }

    .slider-text__title {
        font-size: 24px;
    }
    
    .slider-text__subtitle {
        font-size: 10px;
    }

    .service-text__header {
        margin-top: 30px;
        font-size: 24px;
    }

    .service-text__subtitle {
        margin-top: 5px;
        font-size: 10px;
    }

    .footer__subscribe {
        font-family: "PTSans";
        font-size: 12px;
        color: #c1c1c1;
    }

    .footer__social {
        gap: 10px;
    }

    .social__link .social__link_icon {
        font-size: 20px;
    }
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    .navbar {
        height: auto;
    }

    .menu__item {
        padding-left: 6px;
        padding-right: 6px;
        font-size: 12px;
    }

    .service {
        height: auto;
    }

    .service__item-container {
        flex-direction: column;
    }

    .service__item {
        margin-bottom: 50px;
    }

    .item__item-subtitle {
        padding-left: 10%;
        padding-right: 10%;
    }
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }

    #arrow-left {
        left: 25px;
    }
    
    #arrow-right {
        left: calc(100% - 50px);
    }
}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

}

/* X-Large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) {

}