/* Small devices (landscape phones, 992px and down)*/
@media (max-width: 992px) {
    .header__container, .navbar__container, 
    .slider__container, .service__container,
    .gallery__container, .sponsors__container,
    .about-us__container, .footer__container {
        width: 100%;
    }

    .navbar__menu {
        display: none;
    }

    .navbar__menu-btn {
        display: block;
    }

    .gallery {
        height: auto;
    }

    .gallery__container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .sponsors__container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);;
    }

    .about-us__item-about-us {
        width: 100%;
    }

    .about-us__post, .item-about-us__tags-links,
    .item-about-us__subtitle {
        width: 100%;
    }
}